@{
    ViewData["Title"] = "Index";

}

<h1>Click to sign</h1>



<button><a class="navbar-brand" asp-area="" asp-controller="Signature" asp-action="Sign">Sign Doc digitally</a></button>
<button><a class="navbar-brand" asp-area="" asp-controller="Signature" asp-action="SignElectronically">Sign Doc electronically</a></button>
<button><a class="navbar-brand" asp-area="" asp-controller="Signature" asp-action="SignWithoutPreview">Sign Doc digitally without preview</a></button>
<button> <a class="navbar-brand" asp-area="" asp-controller="Signature" asp-action="SignElectronicallyWithoutPreview">Sign Doc electronically without preview</a></button>

