@{
    ViewData["Title"] = "Sign";
}
@section Scripts
{
    <script>var widget = new LacunaSignerWidget();
    widget.ScaleOptions["S50"]="50";
    </script>
}

<h1>Sign</h1>
<a href=@ViewData["embedUrl"]>Embed url</a>

