html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
    src: url(http://fonts.cdnfonts.com/css/le-havre) format("truetype");
    font-family: le-havre, sans-serif;
    font-style: normal;
    font-weight: 200;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.frame-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.frame-responsive {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}

.sign-btn {
    width: 500px;
}

.form-rounded {
    border-radius: 1rem;
}

.select-wrapper {
    border-radius: 36px;
    display: inline-block;
    overflow: hidden;
    border: 1px solid #cccccc;
    text-align:center;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder { /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}
