@model Embedded_Signatures.Models.PrescriptionViewModel

@{
    ViewData["Title"] = "Prescription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-md-12">
            <div class="row justify-content-center">
                <div class="col-sm-6 mb-4">
                    <h1 class="text-md-center">Criação de prescrição</h1>
                    <h3 class="text-md-center">Informe os dados abaixo para começar:</h3>
                </div>
            </div>
        </div>
        <form asp-action="Prescription">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" align="center">
                <div class="row-cols-4 mb-2">
                    <div class="col-lg-4">
                        <input asp-for="PatientName" type="text" class="form-control form-rounded" placeholder="Nome do paciente" id="patientName" />
                    </div>
                </div>
                <div class="row-cols-4 mb-5">
                    <div class="col-lg-4">
                        <select asp-for="MedicationName" asp-items="Model.MedicationOptions" name="medication" id="medicationOptionSelect" class="select-wrapper form-select">
                            <option style="display:none">Medicação</option>
                        </select>
                    </div>
                </div>
                <div class="row-cols-4">
                    <div class="col-lg-4">
                        <input type="submit" value="Começar" class="form-control btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
