html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.padding {
    background: none no-repeat scroll 0 0 #fff;
    position: relative;
}

body {
    background-image: url("../background2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 200;
    margin-bottom: 60px;
}

html {
  position: relative;
  min-height: 100%;
}

.frame-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 56.25%;
    border-radius: 25px;
}

.frame-responsive {
    width: 100%;
    height: 100%;
    position: absolute;
    padding-top: 50px;
    padding-block: 50px,50px;
    top: 0;
    left: 0;
    border: none;
}

.patient-signer-container {
    margin-top: 100px
}

.sign-btn {
    width: 500px;
}

.form-rounded {
    border-radius: 1rem;
}

.select-wrapper {
    border-radius: 36px;
    display: inline-block;
    overflow: hidden;
    border: 1px solid #cccccc;
    text-align:center;
}

.transparent-input{
    background-color: rgba(0,0,0,0);
}

.navbar-img {
    width: 45%;
    height: auto;
}

.btn-clr {
    background-color: #0A4EA1; 
    font-weight: bold;
}

.btn-custom-outline {
    border-color: #0A4EA1;
    color: #0A4EA1;
    font-weight: bold;
}

.navbar-group{
   margin-right: 5%;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder { /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}

/* Displaying error messages */
.field-validation-error {
    color: red;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}


/* Spinner related stuff */
.center-div {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
}

.spinner {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: Black;
    filter: alpha(opacity=60);
    opacity: 0.6;
    -moz-opacity: 0.8;
}

.loader {

    margin: auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #15a0ec;
    border-bottom: 16px solid #15a0ec;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.inner-div {
    background-color: #FFF7EE;
    border-radius: 15px;
    margin: auto;
    padding: 2%;
    width: 150px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}