<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <a class="btn btn-outline-light btn-clr m-lg-5 custom-padding" role="button" href="/Home/Index" style="font-size: 1.5rem; padding: 1rem 2rem;">
        Iniciar prescrição
    </a>
</div>